version: '3.8'
services:
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: meshup_db
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
  
  redis:
    image: redis:7-alpine
    restart: always
  
  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    env_file:
      - ../.env
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"
    restart: always
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000 --workers 4

volumes:
  postgres_data:
